<tr>
  <td><%= order.status %></td>
  <td class="<%= order.status %>"><%= link_to 'Show', order %></td>
  <% if allow? "orders", "edit" %>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
  <% end %>
  <% if allow? "orders", "destroy" %>
    <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</tr>
