<tr>
  <td><%= order.user.name %></td>
  <td><%= order.user.full_name %></td>
  <td><%= order.status %></td>
  <td><%= order.total %></td>
  <td><%= order.items_count %></td>
  <td><%= order.created_at %></td>
  <td><%= link_to 'Show', order %></td>
  <td><%= link_to 'Edit', edit_order_path(order) %></td>
  <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
