 <div class="span4">
  <div class="item">
    <div class="item-image">
      <td><%= image_tag("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQtEOtDbCA584KYoDzwXTvMF-p-LfHJjqZPtPQpw07BSRcYaMPW") %></td>
    </div>
    <div class="item-details">
      <h5>
        <%= item.title %>
      </h5>
      <p class="item-description">
        <%= item.description %>
      </p>
      <div class="item-price pull-left">
        <%= print_price item.price %>
      </div>
      <div class="item-status pull-right">
        <%= print_status item.active %>
      </div><br />
      <div class="pull-right">
        <%= button_to 'Add to Cart', order_items_path(item_id: item.id), class: 'btn btn-danger btn-xs' %>
      </div>
      <%= button_to 'Show', item, method: :get, class: "item-show" %>
      <% if allow? "items", "edit" %>
        <%= button_to 'Edit', edit_item_path(item), class: "item-edit", class: "item-admin"%>
      <% end %>
      <% if allow? "items", "destroy" %>
        <%= button_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, class: "item-delete" %>
      <% end %>
    </div>
  </div>
</div>

