<h1>Listing items</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Categories</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td><%= item.description %></td>
        <td><%= print_price(item.price) %></td>
        <td><%= item.category_names %></td>
        <td><%= link_to 'Show', item %></td>
        <% if allow? "items", "edit" %>
          <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <% end %>
        <% if allow? "items", "destroy" %>
          <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
