<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= print_price @item.price %>
</p>
<p>
  <strong>Categories:</strong>
  <%= @item.category_names %>
</p>
<p>
  <strong>Active:</strong>
  <%= @item.active %>
</p>
<%= button_to 'Add to Cart', order_items_path(item_id: @item.id) %>
<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
