<div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Hawaiian BBQ</a>
        <ul class="nav">
          <li class="active"><a href="/">Home</a></li>
          <li class="divider-vertical"></li>
        </ul>

        <ul class="nav">
          <li><%= link_to "Items", items_path %></li>
          <li class="divider-vertical"></li>
          <li><%= link_to "Items in cart: #{order_items_count}", orders_path %></a></li>
          <li class="divider-vertical"></li>
          <li><a href="#">Contact</a></li>
          <li class="divider-vertical"></li>
          <% if current_user && current_user.email %>
            <li><%= link_to "My profile", edit_user_path(current_user.id) %></li>
            <li class="divider-vertical"></li>
          <% end %>
          <% if current_user && current_user.admin? %>
            <li><%= link_to "Dashboard", dashboard_path %></li>
          <% end %>
        </ul>

        <%= render "users/user_nav" %>

 </div>
    </div>
  </div>
