<!DOCTYPE html>
<html>
<head>
  <title>Foodfight</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">

  <div class="col-lg-12">
    <%= render 'layouts/header' %>

    <%= render 'layouts/navbar' %>

    <%= render 'layouts/messages' %>
  </div>

  <div class="col-lg-12">
    <br />
    <%= yield %>
  </div>

</body>
</html>
