<!DOCTYPE html>
<html>
<head>
  <title>Foodfight</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">

  <div class="col-lg-12">
    <div class="row center">
    <%= image_tag("palm_tree1.png", class: "header-images pull-left") %>
    <font style="font-weight: bold; display: inline-block; padding-top: 35px; font-size: 300%; margin-left: 27%;">The Best Hawaiian BBQ</font>
    <%= image_tag("palm_tree2.png", class: "header-images pull-right") %>
    </div>

    <%= render 'layouts/navbar' %>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :class => "alert alert-#{name}",:id => "flash_#{name}" %>
  <% end %>

  </div>


  <div class="col-lg-12">
    <br />
    <%= yield %>
  </div>

</body>
</html>
